{%extends 'base/base.html' %}

{% load static %}

{% block content %}

        <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">About</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">About</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="https://via.placeholder.com/800x400"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-inner-top.svg" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN ABOUT COMPANY -->
            <article class="about-company wrapper">
                <div class="about-company__top">
                    <h2 class="about-company__title">All about company</h2>
                    <p class="about-company__text">Official representative of the world-famous clothing brand Mollee in Europe and the world.</p>
                </div>
                <div class="about-company__cols">
                    <div class="about-company__col">
                        <section class="about-section">
                            <h3 class="about-section__title">the beginning of our journey</h3>
                            <span class="about-section__year">2010</span>
                            <p class="about-section__text">In 2010, our company celebrated its 10th anniversary - these are the years of acquired experience of trading around the world. <br>Join us among our clients! You can buy only original things from us. We offer products of your favorite brands - clothes, shoes, accessories, textiles and much more - quality products for every taste and age from Europe.</p>
                        </section>
                    </div>
                    <div class="about-company__col">
                        <div class="about-stats">
                            <h3 class="collection-title">
                                <span class="collection-title__count">2587</span>
                                <span class="collection-title__plus">+</span>
                                <span class="collection-title__text">Products for you</span>
                            </h3>
                            <img class="about-stats__vector" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-about.svg" alt="">
                        </div>
                    </div>
                    <div class="about-company__col">
                        <div class="about-stats about-stats_bottom">
                            <h3 class="collection-title">
                                <span class="collection-title__count">5649</span>
                                <span class="collection-title__plus">+</span>
                                <span class="collection-title__text">Satisfied clients</span>
                            </h3> 
                            <img class="about-stats__vector" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-about.svg" alt="">
                        </div>
                    </div>
                    <div class="about-company__col">
                        <section class="about-section">
                            <h3 class="about-section__title">who are we now?</h3>
                            <span class="about-section__year">2020</span>
                            <p class="about-section__text">We now have a team of more than 1,000 skilled workers and about 167 clothing brands that cooperate with us. Ordering in our store is a saving of time and effort to find what you need; assistance of experienced consultants in choosing a model. <br>Our specialists will help you specify your European size, tell you about fabrics and materials.</p>
                        </section>                            
                    </div>                                                    
                </div>                
            </article>
            <!-- ABOUT COMPANY END -->

            <!-- BEGIN DEAL OF THE WEEK -->
            <section class="inner-deal">
                <div class="inner-deal__cols wrapper">
                    <div class="inner-deal__left">
                        <div class="inner-deal__image" data-bg="https://via.placeholder.com/1040x800"></div>
                    </div>
                    <div class="inner-deal__right">
                        <span class="inner-deal__subtitle category-subtitle"><b>deal</b> of the week</span>
                        <h3 class="inner-deal__title">multi-brand <br>store of clothes</h3>
                        <p class="inner-deal__text">We follow fashion trends and have been working for you for more than 20 years. A selection of the best, interesting, and most importantly, boring outfits for different occasions.</p>
                        <a class="inner-deal__button button" href="shop.html">
							<span class="button__text">Shop now</span>
						</a>
                    </div>
                </div>
            </section>
            <!-- BEGIN DEAL OF THE WEEK END -->              

            <!-- BEGIN ADVANTAGES -->
            <div class="advantages wrapper">
                <div class="advantages__list">
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/70x70" alt="">
                            </div>
                            <h4 class="advantage__title">Free Shipping</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit</p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-advantages.svg" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/70x70" alt="">
                            </div>
                            <h4 class="advantage__title">24/7 Customer Service</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit </p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-advantages.svg" alt="">
                    </article>
                    <article class="advantage">
                        <div class="advantage__content">
                            <div class="advantage__icon-wrap">
                                <img class="advantage__icon" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/70x70" alt="">
                            </div>
                            <h4 class="advantage__title">Money Back Guarantee</h4>
                            <div class="advantage__line"></div>
                            <p class="advantage__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit </p>
                        </div>
                        <img class="advantage__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-advantages.svg" alt="">
                    </article>                                        
                </div>
            </div>
            <!-- ADVANTAGES END -->            

            <!-- BEGIN NEWSLETTER -->
            <aside class="newsletter">
                <div class="newsletter__banner" data-bg="https://via.placeholder.com/1680x450">
                    <div class="newsletter__main">
                        <div class="newsletter__bg">
                            <div class="newsletter__max">
                                <h4 class="newsletter__title">Newsletter</h4>
                                <p class="newsletter__text">Be the first to hear about deals,  offers and upcoming collections.</p>
                                <form>
                                    <div class="newsletter-form">
                                        <div class="newsletter-form__left">
                                            <input class="newsletter-form__input text-input" type="email" placeholder="Enter your email">
                                        </div>
                                        <div class="newsletter-form__right">
                                            <button class="newsletter-form__button button">
                                                <span class="button__text">Subscribe</span>
                                            </button>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                            <img class="newsletter__vector" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-newsletter.svg" alt="">
                        </div>
                    </div>
                </div>
            </aside>
            <!-- NEWSLETTER END -->

            <!-- BEGIN BRANDS -->
            <div class="brands-block wrapper">
                <ul class="brands">
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_1" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/184x76" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_2" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/159x85" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_3" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/138x116" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_4" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/188x106" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="brands__item">
                        <a class="brands__link" href="#">
                            <div class="brands__cell">
                                <img class="brands__logo brands__logo_5" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/161x82" alt="">
                            </div>
                        </a>
                    </li>                                                                                
                </ul>
            </div>
            <!-- BRANDS END -->

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->
        <footer class="footer">      
            <div class="footer__main wrapper">
                <div class="footer__top">
                    <div class="footer__cols">
                        <div class="footer__col">
                            <a class="footer-logo logo" href="#">
                                <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                            </a>
                            <span class="footer-description">Cillum eu id enim aliquip aute ullamco anim. <br>Culpa deserunt nostrud excepteur voluptate.</span>  
                            <div class="footer-line"></div>  
                            <div class="socials">
                                <span class="socials__text">Find us here:</span>
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Fb</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Tw</a>
                                    </li> 
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Ins</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Pt</a>
                                    </li>                                                                           
                                </ul>
                            </div>                        
                        </div>
                        <div class="footer__col">
                            <nav class="footer-nav">
                                <div class="footer-nav__col">
                                    <span class="footer-title">About</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="about.html">About us</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="collections.html">Collections</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="shop.html">Shop</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="blog.html">Blog</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-nav__col">
                                    <span class="footer-title">Useful links</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Terms of use</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Support</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Shipping details</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="faq.html">FAQs</a>
                                        </li>
                                    </ul>
                                </div>                                
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer-title">Newsletter</span>
                            <span class="footer-description">Subscribe to be the first to hear about deals,&nbsp;&nbsp;offers and upcoming collections.</span>
                            <form>
                                <div class="subscription">
                                    <input class="subscription__input" type="email" placeholder="Enter your email">
                                    <button class="subscription__button" type="submit"></button>
                                </div>
                            </form>                            
                        </div>                                                
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__cols">
                        <div class="footer__left">
                            <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                        </div>
                        <div class="footer__right">
                            <div class="payments">
                                <div class="payments__col">
                                    <span class="payments__text">Payment methods:</span>
                                </div>
                                <div class="payments__col">
                                    <ul class="payments__list">
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>                                                                                  
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <img class="footer__bg-left" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
                <img class="footer__bg-right" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
            </div>
        </footer>
        <!-- FOOTER END -->   

    </div> 
{% endblock content %}


    <script src="{% static 'js/libs/jquery-3.5.1.min.js' %}"></script> 
    <script src="{% static 'js/libs/jquery-migrate-1.4.1.min.js' %}"></script>   
    <script src="{% static 'js/components/slick.js' %}"></script>
    <script src="{% static 'js/components/syotimer.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>  

</body>
</html>