{%extends 'base/base.html' %}

{% load static %}

{% block content %}
<!doctype html>
<html lang="zxx">
    <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">FAQ</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">FAQ</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="https://via.placeholder.com/800x400"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-inner-top.svg" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN FAQ -->
            <div class="faq-page wrapper">
                <div class="faq-page__cols">

                    <!-- BEGIN LEFT COLUMN -->
                    <div class="faq-page__left">
                        <div class="faq js-faq">
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">Can linen be worn in March? Skin in July?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How to dress to be on a good account at work?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How to care for imitation pearls and jewelry in general?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">What looks good in an informal work environment?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">Is everything still in mini fashion? How fashionable is the past fashion?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How to dress fashionably with only a limited amount?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How can you maximize the impact with minimal changes?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How to dress for women with children working from home?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">What to wear for your gala reception this afternoon?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="faq__item js-faq-item">
                                <h2 class="faq__title">
                                    <a class="faq__button js-faq-button" href="javascript:void(0);">How to dress so as not to look fat?</a>
                                </h2>
                                <div class="faq__hide js-faq-hide">
                                    <div class="faq__content">
                                        <p>Esse ipsum deserunt aliquip tempor in occaecat nostrud excepteur sunt eiusmod commodo amet. Eiusmod exercitation ad elit et consequat magna. Qui nostrud ipsum laborum et eu pariatur adipisicing deserunt cupidatat adipisicing nulla Lorem do. Duis veniam quis id aute eu labore velit enim consectetur.</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- LEFT COLUMN END -->

                    <!-- BEGIN RIGHT COLUMN -->
                    <aside class="faq-page__right">

                        <form>
                            <section class="newsletter-block">
                                <h3 class="newsletter-block__title">Newsletter</h3>
                                <p class="newsletter-block__text">Subscribe to be the first to hear about deals, offers and upcoming collections.</p>
                                <input class="newsletter-block__input text-input" type="email" placeholder="Enter your email">
                                <button class="newsletter-block__button button">
                                    <span class="button__text">Subscribe</span>
                                </button>
                            </section>
                        </form>

                        <section class="sale-banner sale-banner_changed">
                            <div class="sale-banner__all">
                                <div class="sale-banner__row">
                                    <div class="sale-banner__cell">
                                        <div class="sale-banner__content">
                                            <h4 class="sale-banner__title">Season <span>sale</span></h4>
                                            <p class="sale-banner__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla</p>
                                            <a class="sale-banner__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale-banner__border"></div>
                            <div class="sale-banner__image" data-bg="https://via.placeholder.com/720x800"></div>
                            <a class="sale-banner__link" href="shop.html"></a>
                        </section> 
                        
                        <section class="widget">
                            <h3 class="widget__title">Reviewed by you</h3>
                            <div class="short-reviews short-reviews_full">
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">                          
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Fashionee - catton shirt</a>
                                            </h4>
                                            <span class="reviewed__price">$35.99</span>
                                            <span class="reviewed__old-price">$52.99</span>
                                        </div>                                        
                                    </div>
                                </article>
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">                          
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Warm casual sweater</a>
                                            </h4>
                                            <span class="reviewed__price">$65.99</span>
                                        </div>                                        
                                    </div>
                                </article>
                                <article class="reviewed">
                                    <div class="reviewed__cols">
                                        <div class="reviewed__left">
                                            <a class="reviewed__image-bg" href="product_page.html">
                                                <img class="reviewed__image" src="https://via.placeholder.com/75x85" alt="">                          
                                            </a>
                                        </div>
                                        <div class="reviewed__right">
                                            <h4 class="reviewed__title">
                                                <a class="reviewed__link" href="product_page.html">Textured turtleneck with zip</a>
                                            </h4>
                                            <span class="reviewed__price">$45.99</span>
                                        </div>                                        
                                    </div>
                                </article>                                                                
                            </div>
                        </section>                       

                    </aside>
                    <!-- RIGHT COLUMN END -->  

                </div>
            </div>
            <!-- FAQ END -->

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->
        <footer class="footer">      
            <div class="footer__main wrapper">
                <div class="footer__top">
                    <div class="footer__cols">
                        <div class="footer__col">
                            <a class="footer-logo logo" href="#">
                                <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                            </a>
                            <span class="footer-description">Cillum eu id enim aliquip aute ullamco anim. <br>Culpa deserunt nostrud excepteur voluptate.</span>  
                            <div class="footer-line"></div>  
                            <div class="socials">
                                <span class="socials__text">Find us here:</span>
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Fb</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Tw</a>
                                    </li> 
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Ins</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Pt</a>
                                    </li>                                                                           
                                </ul>
                            </div>                        
                        </div>
                        <div class="footer__col">
                            <nav class="footer-nav">
                                <div class="footer-nav__col">
                                    <span class="footer-title">About</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="about.html">About us</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="collections.html">Collections</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="shop.html">Shop</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="blog.html">Blog</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-nav__col">
                                    <span class="footer-title">Useful links</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Terms of use</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Support</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Shipping details</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="faq.html">FAQs</a>
                                        </li>
                                    </ul>
                                </div>                                
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer-title">Newsletter</span>
                            <span class="footer-description">Subscribe to be the first to hear about deals,&nbsp;&nbsp;offers and upcoming collections.</span>
                            <form>
                                <div class="subscription">
                                    <input class="subscription__input" type="email" placeholder="Enter your email">
                                    <button class="subscription__button" type="submit"></button>
                                </div>
                            </form>                            
                        </div>                                                
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__cols">
                        <div class="footer__left">
                            <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                        </div>
                        <div class="footer__right">
                            <div class="payments">
                                <div class="payments__col">
                                    <span class="payments__text">Payment methods:</span>
                                </div>
                                <div class="payments__col">
                                    <ul class="payments__list">
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>                                                                                  
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <img class="footer__bg-left" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
                <img class="footer__bg-right" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
            </div>
        </footer>
        <!-- FOOTER END -->      

    </div> 
       

{% endblock content %}


</body>
</html>