
{%extends 'base/base.html' %}


{% load static %}

{% block content %}

<!doctype html>
<html lang="zxx">
        <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">Checkout</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">Checkout</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="https://via.placeholder.com/800x400"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-inner-top.svg" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN CHECKOUT -->
            <div class="checkout-page wrapper">

                <div class="checkout-nav">
                    <div class="checkout-nav__item active">
                        <span class="checkout-nav__text">order details</span>
                    </div>
                    <div class="checkout-nav__item active">
                        <span class="checkout-nav__text">payment method</span>
                    </div>
                    <div class="checkout-nav__item active current">
                        <span class="checkout-nav__text">finish</span>
                    </div>                                        
                </div>

                <div class="checkout-page__cols">

                    <!-- BEGIN LEFT COLUMN -->
                    <div class="checkout-page__left">
                        
                        <section class="thanks">
                            <div class="thanks__top">
                                <h2 class="thanks__title">Thanks for your purchase!</h2>
                                <p class="thanks__top-text">Everything went well, wait for the order to arrive at the time specified in the order.</p>
                            </div>
                            <p class="thanks__text">Approximate arrival via...</p>
                            <div class="timer js-timer"></div>
                        </section>

                    </div>
                    <!-- LEFT COLUMN END -->

                    <!-- BEGIN RIGHT COLUMN -->
                    <aside class="checkout-page__right checkout-page__right_more">                  
                    </aside>
                    <!-- RIGHT COLUMN END -->                    

                </div>

            </div>
            <!-- CHECKOUT END -->           

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->
        <footer class="footer">      
            <div class="footer__main wrapper">
                <div class="footer__top">
                    <div class="footer__cols">
                        <div class="footer__col">
                            <a class="footer-logo logo" href="#">
                                <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                            </a>
                            <span class="footer-description">Cillum eu id enim aliquip aute ullamco anim. <br>Culpa deserunt nostrud excepteur voluptate.</span>  
                            <div class="footer-line"></div>  
                            <div class="socials">
                                <span class="socials__text">Find us here:</span>
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Fb</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Tw</a>
                                    </li> 
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Ins</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Pt</a>
                                    </li>                                                                           
                                </ul>
                            </div>                        
                        </div>
                        <div class="footer__col">
                            <nav class="footer-nav">
                                <div class="footer-nav__col">
                                    <span class="footer-title">About</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="about.html">About us</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="collections.html">Collections</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="shop.html">Shop</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="blog.html">Blog</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-nav__col">
                                    <span class="footer-title">Useful links</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Terms of use</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Support</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Shipping details</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="faq.html">FAQs</a>
                                        </li>
                                    </ul>
                                </div>                                
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer-title">Newsletter</span>
                            <span class="footer-description">Subscribe to be the first to hear about deals,&nbsp;&nbsp;offers and upcoming collections.</span>
                            <form>
                                <div class="subscription">
                                    <input class="subscription__input" type="email" placeholder="Enter your email">
                                    <button class="subscription__button" type="submit"></button>
                                </div>
                            </form>                            
                        </div>                                                
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__cols">
                        <div class="footer__left">
                            <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                        </div>
                        <div class="footer__right">
                            <div class="payments">
                                <div class="payments__col">
                                    <span class="payments__text">Payment methods:</span>
                                </div>
                                <div class="payments__col">
                                    <ul class="payments__list">
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>                                                                                  
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <img class="footer__bg-left" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
                <img class="footer__bg-right" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
            </div>
        </footer>
        <!-- FOOTER END -->     

    </div> 
       
    <script src="{% static 'js/libs/jquery-3.5.1.min.js' %}"></script> 
    <script src="{% static 'js/libs/jquery-migrate-1.4.1.min.js' %}"></script>   
    <script src="{% static 'js/components/syotimer.js' %}"></script>   
    <script src="{% static 'js/main.js' %}"></script> 
 
    
{% endblock content %}


</body>
</html>