{%extends 'base/base.html' %}

{% load static %}

{% block content %}

<!doctype html>
<html lang="zxx">

        <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">Wishlist</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="/shop">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">Wishlist</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="https://via.placeholder.com/800x400"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-inner-top.svg" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN WISHLIST -->
            <div class="wishlist-page wrapper">

                <div class="wishlist">
                    <article class="wishlist__item js-remove">
                        <div class="wishlist__cols">
                            <div class="wishlist__left">
                                <a class="wishlist__image-link" href="/product_page">
                                    <img class="wishlist__image" src="https://via.placeholder.com/130x140" alt="">
                                </a>
                            </div>
                            <div class="wishlist__right">
                                <div class="wishlist__top">
                                    <div class="wishlist__col">
                                        <h2 class="wishlist__title">
                                            <a class="wishlist__link" href="/product_page">Fashionee - catton shirt (S)</a>
                                        </h2>
                                    </div>
                                    <div class="wishlist__col">
                                        <button class="wishlist__remove remove-button js-remove-button"></button>  
                                    </div>                                    
                                </div>
                                <div class="wishlist__bottom">
                                    <div class="wishlist__col">
                                        <div class="wishlist-info">
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Article:</span>
                                                <span class="wishlist-info__text">000845DZ1</span>
                                            </div>
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Status:</span>
                                                <span class="wishlist-info__text">
                                                    <span class="green">In stock </span>
                                                </span>                                        
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="wishlist__col">
                                        <span class="wishlist__old-price">$52.99</span>
                                        <span class="wishlist__price">$35.99</span>                                        
                                    </div>
                                    <div class="wishlist__col">
                                        <a class="wishlist__add add-button" href="#">add to cart</a>
                                    </div>                                                                        
                                </div>
                            </div>   
                        </div>                                                                 
                    </article>
                    <article class="wishlist__item js-remove">
                        <div class="wishlist__cols">
                            <div class="wishlist__left">
                                <a class="wishlist__image-link" href="/product_page">
                                    <img class="wishlist__image" src="https://via.placeholder.com/130x140" alt="">
                                </a>
                            </div>
                            <div class="wishlist__right">
                                <div class="wishlist__top">
                                    <div class="wishlist__col">
                                        <h2 class="wishlist__title">
                                            <a class="wishlist__link" href="/product_page">Warm casual sweater</a>
                                        </h2>
                                    </div>
                                    <div class="wishlist__col">
                                        <button class="wishlist__remove remove-button js-remove-button"></button>  
                                    </div>                                    
                                </div>
                                <div class="wishlist__bottom">
                                    <div class="wishlist__col">
                                        <div class="wishlist-info">
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Article:</span>
                                                <span class="wishlist-info__text">000845DZ1</span>
                                            </div>
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Status:</span>
                                                <span class="wishlist-info__text">
                                                    <span class="green">In stock </span>
                                                </span>                                        
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="wishlist__col">
                                        <span class="wishlist__price">$28.99</span>                                        
                                    </div>
                                    <div class="wishlist__col">
                                        <a class="wishlist__add add-button" href="#">add to cart</a>
                                    </div>                                                                        
                                </div>
                            </div>   
                        </div>                                                                 
                    </article>
                    <article class="wishlist__item js-remove">
                        <div class="wishlist__cols">
                            <div class="wishlist__left">
                                <a class="wishlist__image-link" href="/product_page">
                                    <img class="wishlist__image" src="https://via.placeholder.com/130x140" alt="">
                                </a>
                            </div>
                            <div class="wishlist__right">
                                <div class="wishlist__top">
                                    <div class="wishlist__col">
                                        <h2 class="wishlist__title">
                                            <a class="wishlist__link" href="/product_page">Retro style handbag</a>
                                        </h2>
                                    </div>
                                    <div class="wishlist__col">
                                        <button class="wishlist__remove remove-button js-remove-button"></button>  
                                    </div>                                    
                                </div>
                                <div class="wishlist__bottom">
                                    <div class="wishlist__col">
                                        <div class="wishlist-info">
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Article:</span>
                                                <span class="wishlist-info__text">000845DZ1</span>
                                            </div>
                                            <div class="wishlist-info__col">
                                                <span class="wishlist-info__label">Status:</span>
                                                <span class="wishlist-info__text">
                                                    <span class="green">In stock</span>
                                                </span>                                        
                                            </div>                                    
                                        </div>
                                    </div>
                                    <div class="wishlist__col">
                                        <span class="wishlist__price">$83.99</span>                                        
                                    </div>
                                    <div class="wishlist__col">
                                        <a class="wishlist__add add-button" href="#">add to cart</a>
                                    </div>                                                                        
                                </div>
                            </div>   
                        </div>                                                                 
                    </article>                                                        
                </div>

                <div class="wishlist-page__bottom">
                    <div class="wishlist-page__col">
                        <button class="wishlist-page__button button">
                            <span class="button__text">Clear wishlist</span>
                        </button>
                    </div>
                    <div class="wishlist-page__col">
                        <div class="wishlist-page__checkbox checkbox">
                            <label class="checkbox__label">
                                <input class="checkbox__input" type="checkbox">
                                <span class="checkbox__icon"></span>
                                <span class="checkbox__text">Show in stock only</span>
                            </label>
                        </div>                        
                    </div>                    
                </div>

            </div>
            <!-- WISHLIST END -->

            <!-- BEGIN NEWSLETTER -->
            <aside class="newsletter">
                <div class="newsletter__banner" data-bg="https://via.placeholder.com/1680x450">
                    <div class="newsletter__main">
                        <div class="newsletter__bg">
                            <div class="newsletter__max">
                                <h4 class="newsletter__title">Newsletter</h4>
                                <p class="newsletter__text">Be the first to hear about deals,  offers and upcoming collections.</p>
                                <form>
                                    <div class="newsletter-form">
                                        <div class="newsletter-form__left">
                                            <input class="newsletter-form__input text-input" type="email" placeholder="Enter your email">
                                        </div>
                                        <div class="newsletter-form__right">
                                            <button class="newsletter-form__button button">
                                                <span class="button__text">Subscribe</span>
                                            </button>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                            <img class="newsletter__vector" src="{% static 'img/svg/vector-newsletter.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </aside>
            <!-- NEWSLETTER END -->            

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->
        <footer class="footer">      
            <div class="footer__main wrapper">
                <div class="footer__top">
                    <div class="footer__cols">
                        <div class="footer__col">
                            <a class="footer-logo logo" href="#">
                                <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                            </a>
                            <span class="footer-description">Cillum eu id enim aliquip aute ullamco anim. <br>Culpa deserunt nostrud excepteur voluptate.</span>  
                            <div class="footer-line"></div>  
                            <div class="socials">
                                <span class="socials__text">Find us here:</span>
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a class="socials__link" href="https://www.facebook.com/">Fb</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="https://twitter.com/">Tw</a>
                                    </li> 
                                    <li class="socials__item">
                                        <a class="socials__link" href="https://www.instagram.com/">Ins</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Pt</a>
                                    </li>                                                                           
                                </ul>
                            </div>                        
                        </div>
                        <div class="footer__col">
                            <nav class="footer-nav">
                                <div class="footer-nav__col">
                                    <span class="footer-title">About</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/about">About us</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/collection">Collections</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/shop">Shop</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/blog">Blog</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/contacts">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-nav__col">
                                    <span class="footer-title">Useful links</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Terms of use</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Support</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Shipping details</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="/faq">FAQs</a>
                                        </li>
                                    </ul>
                                </div>                                
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer-title">Newsletter</span>
                            <span class="footer-description">{{collection}} to be the first to hear about deals,&nbsp;&nbsp;offers and upcoming collections.</span>
                            <form>
                                <div class="subscription">
                                    <input class="subscription__input" type="email" placeholder="Enter your email">
                                    <button class="subscription__button" type="submit"></button>
                                </div>
                            </form>                            
                        </div>                                                
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__cols">
                        <div class="footer__left">
                            <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                        </div>
                        <div class="footer__right">
                            <div class="payments">
                                <div class="payments__col">
                                    <span class="payments__text">Payment methods:</span>
                                </div>
                                <div class="payments__col">
                                    <ul class="payments__list">
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>                                                                                  
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <img class="footer__bg-left" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
                <img class="footer__bg-right" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
            </div>
        </footer>
        <!-- FOOTER END -->      

    </div> 
       
    <script src="{% static 'js/libs/jquery-3.5.1.min.js' %}"></script> 
    <script src="{% static 'js/libs/jquery-migrate-1.4.1.min.js' %}"></script>   
    <script src="{% static 'js/main.js' %}"></script>
    
    
    {% endblock content %}


</body>
</html>