{%extends 'base/base.html' %}

{% load static %}

{% block content %}



<!doctype html>
<html lang="zxx">
 
        <!-- BEGIN MAIN -->
        <main class="main">              

            <!-- BEGIN INNER TOP -->
            <div class="inner-top">
                <div class="inner-top__main wrapper">
                    <div class="inner-top__cols">
                        <div class="inner-top__left">
                            <h1 class="inner-top__title">Blog</h1>
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs__list">
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Home</a>
                                    </li>
                                    <li class="breadcrumbs__item">
                                        <a class="breadcrumbs__link" href="#">Blog</a>
                                    </li>                                    
                                    <li class="breadcrumbs__item">Fashion trends in 2020: style, colors, accessories</li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="inner-top__right">
                            <div class="inner-top__image" data-bg="assets/img/blink/6.jpeg"></div>
                        </div>                        
                    </div>
                    <img class="inner-top__bg" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-inner-top.svg" alt="">
                </div>
            </div>
            <!-- INNER TOP END -->

            <!-- BEGIN POST -->
            <article class="post-page wrapper">

                <header class="post-header">
                    <span class="post-header__subtitle category-subtitle"><b>woman</b> collection</span>
                    <h2 class="post-header__title">Fashion trends in 2020: style, colors, accessories</h2>
                    <img class="post-header__banner" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/blink/4.jpeg" alt="">
                </header>

                <div class="post-page__cols">

                    <!-- BEGIN LEFT COLUMN -->
                    <div class="post-page__left">

                        <header class="post-info">
                            <div class="post-info__cols">
                                <div class="post-info__col">
                                    <span class="post-info__date">Aug 02, 2020</span>
                                </div>
                                <div class="post-info__col">
                                    <span class="post-info__author">by Melissa Johnson</span>
                                </div>
                                <div class="post-info__col">
                                    <div class="post-stats">
                                        <div class="post-stats__col">
                                            <span class="stats-icon stats-icon_1">4</span>
                                        </div>
                                        <div class="post-stats__col">
                                            <span class="stats-icon stats-icon_2">18</span>
                                        </div>                                    
                                    </div>
                                </div>                                 
                            </div>                                                       
                        </header>

                        <div class="post-content">
                            <p>In order to select the desired product from the million presented on the site, the buyer can use the product catalog, the search box, or select products from the promotions presented on the main page of the site. For a more accurate selection, you can use filters, sorting, and in the product card, get acquainted with a detailed description, characteristics and sizes.</p>
                            <blockquote>
                                <p>We know how difficult it is to choose a size on the Internet among a huge number of brands and unique size charts, so the buyer does not have to worry if the size does not fit. For Fashionee convenient return of goods and instant transfer of funds.</p>
                                <footer>by Melissa Johnson</footer>
                            </blockquote>
                            <p>Also at the offices of Fashionee there is an opportunity to try on the goods, all offices are equipped with comfortable fitting rooms. In order to select the desired product from the million presented on the site, the buyer can use the product catalog, the search box, or select products from the promotions presented on the main page of the site. For a more accurate selection, you can use filters, sorting, and in the product card, get acquainted with a detailed description, characteristics and sizes.</p>
                            <img src="{% static 'img/blink/12.jpeg' %}" alt="">
                            <p>Ex velit eu anim aute sit est. Sint adipisicing occaecat non proident laboris excepteur voluptate ipsum quis ullamco cillum esse dolore cupidatat. Fugiat laboris ullamco elit fugiat dolore ullamco culpa in laborum amet proident minim. Duis dolore dolor veniam elit culpa officia non excepteur Lorem cupidatat occaecat et nostrud. Ad officia velit do quis nostrud est sit eu irure ad velit. Velit dolor aute esse id officia ullamco enim. <br><br>Fugiat laboris ullamco elit fugiat dolore ullamco culpa in laborum amet proident minim. Duis dolore dolor veniam elit culpa officia non excepteur Lorem cupidatat occaecat et nostrud. Ad officia velit do quis nostrud est sit eu irure ad velit. Velit dolor aute esse id officia ullamco enim. </p>
                        </div>

                        <footer class="post-bottom">
                            <div class="post-bottom__cols">
                                <div class="post-bottom__col">
                                    <ul class="post-nav">
                                        <li class="post-nav__item">
                                            <a class="post-nav__link" href="#">Fashione</a>
                                        </li>
                                        <li class="post-nav__item">
                                            <a class="post-nav__link" href="#">NEW_collections</a>
                                        </li>
                                        <li class="post-nav__item">
                                            <a class="post-nav__link" href="#">Fashione</a>
                                        </li>                                                                        
                                    </ul>
                                </div>
                                <div class="post-bottom__col">
                                    <div class="socials socials_flex">
                                        <div class="socials__col">
                                            <span class="socials__title">Share:</span>
                                        </div>
                                        <div class="socials__col">
                                            <ul class="socials__list">
                                                <li class="socials__item">
                                                    <a class="socials__link" href="#">Fb</a>
                                                </li>
                                                <li class="socials__item">
                                                    <a class="socials__link" href="#">Tw</a>
                                                </li> 
                                                <li class="socials__item">
                                                    <a class="socials__link" href="#">Ins</a>
                                                </li>
                                                <li class="socials__item">
                                                    <a class="socials__link" href="#">Pt</a>
                                                </li>                                                                           
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>

                        <section class="about-author">
                            <div class="about-author__left">
                                <img class="about-author__photo" src="{% static 'img/blink/1.jpeg'%}" alt="">
                            </div>
                            <div class="about-author__right">
                                <h3 class="about-author__title">Melissa Johnson</h3>
                                <p class="about-author__text">Proident voluptate adipisicing ullamco veniam incididunt laboris nulla elit et anim tempor duis dolor nostrud. Ad eiusmod laborum deserunt id eiusmod. Eiusmod ea aute ex et nisi exercitation.</p>
                                <div class="socials">
                                    <ul class="socials__list">
                                        <li class="socials__item">
                                            <a class="socials__link" href="#">Fb</a>
                                        </li>
                                        <li class="socials__item">
                                            <a class="socials__link" href="#">Tw</a>
                                        </li> 
                                        <li class="socials__item">
                                            <a class="socials__link" href="#">Ins</a>
                                        </li>
                                        <li class="socials__item">
                                            <a class="socials__link" href="#">Pt</a>
                                        </li>                                                                           
                                    </ul>
                                </div>                                
                            </div>                            
                        </section>

                        <aside class="prev-next">
                            <div class="prev-next__left">
                                <a class="arrow-button arrow-button_prev" href="post.html">previous <span class="arrow-button__hide-mob">post</span></a>
                                <article class="post-mini">
                                    <div class="post-mini__left">
                                        <a class="post-mini__image" href="#" data-bg="assets/img/blink/4.jpeg"></a>
                                    </div>
                                    <div class="post-mini__right">
                                        <h4 class="post-mini__title">
                                            <a class="post-mini__link" href="post.html">The most popular brand that people use in USA</a>
                                        </h4>
                                    </div>                                    
                                </article>
                            </div>
                            <div class="prev-next__right">
                                <a class="arrow-button arrow-button_next" href="post.html">next <span class="arrow-button__hide-mob">post</span></a>
                                <article class="post-mini">
                                    <div class="post-mini__left">
                                        <a class="post-mini__image" href="#" data-bg="assets/img/blink/10.jpeg"></a>
                                    </div>
                                    <div class="post-mini__right">
                                        <h4 class="post-mini__title">
                                            <a class="post-mini__link" href="post.html">The most popular brand that people use in USA</a>
                                        </h4>
                                    </div>                                    
                                </article>                                
                            </div>                            
                        </aside>

                        <form>
                            <section class="add-comment">
                                <h3 class="add-comment__title">Leave a comment</h3>
                                <p class="add-comment__text">Leave your comment it is very important for us to know your opinion.</p>
                                <div class="add-comment__cols">
                                    <div class="add-comment__col">
                                        <input class="text-input" type="text" placeholder="Enter your name">
                                    </div>
                                    <div class="add-comment__col">
                                        <input class="text-input" type="email" placeholder="Enter your email">
                                    </div>                                 
                                </div>
                                <textarea class="textarea" placeholder="Enter your comment"></textarea>  
                                <button class="add-comment__button button" type="submit">
                                    <span class="button__text">post a comment</span>
                                </button>
                            </section>
                        </form>

                    </div>
                    <!-- LEFT COLUMN END -->

                    <!-- BEGIN RIGHT COLUMN -->
                    <aside class="post-page__right">

                        <form>
                            <div class="search-form">
                                <input class="search-form__input" type="email" placeholder="Search">
                                <button class="search-form__button" type="submit"></button>
                            </div>
                        </form> 

                        <section class="widget">
                            <h3 class="widget__title">Categories</h3>
                            <ul class="side-nav">
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Fashione</a>
                                </li>                                    
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">NEW collections</a>
                                </li>
                                <li class="side-nav__item active">
                                    <a class="side-nav__link" href="#">Women collection</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Men collection</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Fashion trends</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Lifestyle</a>
                                </li>
                                <li class="side-nav__item">
                                    <a class="side-nav__link" href="#">Сulture</a>
                                </li>                                    
                            </ul>
                        </section>

                        <section class="widget">
                            <h3 class="widget__title">Popular articles</h3>
                            <div class="popular-posts">
                                <article class="popular">
                                    <div class="popular__left">
                                        <a class="popular__image" href="post.html" data-bg="assets/img/blink/4.jpeg"></a>
                                    </div>
                                    <div class="popular__right">
                                        <h4 class="popular__title">
                                            <a class="popular__link" href="post.html">The most popular brand that people use in USA</a>
                                        </h4>
                                        <span class="popular__date">Aug 02, 2020</span>
                                        <a class="next-button next-button_small" href="post.html"></a>                                        
                                    </div>                                    
                                </article>
                                <article class="popular">
                                    <div class="popular__left">
                                        <a class="popular__image" href="post.html" data-bg="assets/img/blink/6.jpeg"></a>
                                    </div>
                                    <div class="popular__right">
                                        <h4 class="popular__title">
                                            <a class="popular__link" href="post.html">Fashion trends in 2020: style, colors, accessories</a>
                                        </h4>
                                        <span class="popular__date">Aug 02, 2020</span>
                                        <a class="next-button next-button_small" href="post.html"></a>
                                    </div>                                    
                                </article>
                                <article class="popular">
                                    <div class="popular__left">
                                        <a class="popular__image" href="post.html" data-bg="assets/img/blink/8.jpeg"></a>
                                    </div>
                                    <div class="popular__right">
                                        <h4 class="popular__title">
                                            <a class="popular__link" href="post.html">How to choose a dress for&nbsp;a special occasion?</a>
                                        </h4>
                                        <span class="popular__date">Aug 02, 2020</span>
                                        <a class="next-button next-button_small" href="post.html"></a>                                        
                                    </div>                                    
                                </article>                                                                
                            </div>
                        </section>

                        <section class="widget">
                            <h3 class="widget__title">Choice of editors</h3>
                            <article class="short-post short-post_small">
                                <div class="short-post__all">
                                    <a class="short-post__image-link" href="post.html">
                                        <div class="short-post__image" data-bg="assets/img/blink/13.jpeg"></div>
                                    </a>
                                    <div class="short-post__row">
                                        <div class="short-post__cell">
                                            <div class="short-post__bg">
                                                <div class="short-post__content">
                                                    <div class="short-post__title-wrap">
                                                        <h4 class="short-post__title">
                                                            <a class="short-post__link" href="post.html">How to choose a dress for a special occasion?</a>
                                                        </h4>
                                                    </div>
                                                    <span class="short-post__date">Aug 02, 2020</span>
                                                    <a class="short-post__more read-more" href="post.html">read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>                              
                        </section>

                        <form>
                            <section class="newsletter-block">
                                <h3 class="newsletter-block__title">Newsletter</h3>
                                <p class="newsletter-block__text">Subscribe to be the first to hear about deals, offers and upcoming collections.</p>
                                <input class="newsletter-block__input text-input" type="email" placeholder="Enter your email">
                                <button class="newsletter-block__button button">
                                    <span class="button__text">Subscribe</span>
                                </button>
                            </section>
                        </form>
                        
                        <section class="sale-banner sale-banner_changed">
                            <div class="sale-banner__all">
                                <div class="sale-banner__row">
                                    <div class="sale-banner__cell">
                                        <div class="sale-banner__content">
                                            <h4 class="sale-banner__title">Season <span>sale</span></h4>
                                            <p class="sale-banner__text">Non aliqua reprehenderit reprehenderit culpa laboris nulla</p>
                                            <a class="sale-banner__more read-more" href="shop.html">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale-banner__border"></div>
                            <div class="sale-banner__image" data-bg="assets/img/blink/1.jpeg"></div>
                            <a class="sale-banner__link" href="shop.html"></a>
                        </section>                        

                    </aside>
                    <!-- RIGHT COLUMN END -->                    

                </div>
            </article>
            <!-- POST END -->

        </main>
        <!-- MAIN END -->
        
        <!-- BEGIN FOOTER -->
        <footer class="footer">      
            <div class="footer__main wrapper">
                <div class="footer__top">
                    <div class="footer__cols">
                        <div class="footer__col">
                            <a class="footer-logo logo" href="#">
                                <img class="logo__image" src="https://via.placeholder.com/82x17" alt="">
                            </a>
                            <span class="footer-description">Cillum eu id enim aliquip aute ullamco anim. <br>Culpa deserunt nostrud excepteur voluptate.</span>  
                            <div class="footer-line"></div>  
                            <div class="socials">
                                <span class="socials__text">Find us here:</span>
                                <ul class="socials__list">
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Fb</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Tw</a>
                                    </li> 
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Ins</a>
                                    </li>
                                    <li class="socials__item">
                                        <a class="socials__link" href="#">Pt</a>
                                    </li>                                                                           
                                </ul>
                            </div>                        
                        </div>
                        <div class="footer__col">
                            <nav class="footer-nav">
                                <div class="footer-nav__col">
                                    <span class="footer-title">About</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="about.html">About us</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="collections.html">Collections</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="shop.html">Shop</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="blog.html">Blog</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="contacts.html">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-nav__col">
                                    <span class="footer-title">Useful links</span>
                                    <ul class="footer-nav__list">
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Terms of use</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Support</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="#">Shipping details</a>
                                        </li>
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="faq.html">FAQs</a>
                                        </li>
                                    </ul>
                                </div>                                
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer-title">Newsletter</span>
                            <span class="footer-description">Subscribe to be the first to hear about deals,&nbsp;&nbsp;offers and upcoming collections.</span>
                            <form>
                                <div class="subscription">
                                    <input class="subscription__input" type="email" placeholder="Enter your email">
                                    <button class="subscription__button" type="submit"></button>
                                </div>
                            </form>                            
                        </div>                                                
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__cols">
                        <div class="footer__left">
                            <span class="copyrights">&copy; All right reserved. Mollee 2021</span>
                        </div>
                        <div class="footer__right">
                            <div class="payments">
                                <div class="payments__col">
                                    <span class="payments__text">Payment methods:</span>
                                </div>
                                <div class="payments__col">
                                    <ul class="payments__list">
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>
                                        <li class="payments__item">
                                            <img class="payments__image" alt="" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="https://via.placeholder.com/34x20">
                                        </li>                                                                                  
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <img class="footer__bg-left" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-left.svg" alt="">
                <img class="footer__bg-right" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-lazy="assets/img/svg/vector-footer-right.svg" alt="">
            </div>
        </footer>
        <!-- FOOTER END -->      

    </div> 
       

    <script src="{% static 'js/libs/jquery-3.5.1.min.js '%}"></script> 
    <script src="{% static 'js/libs/jquery-migrate-1.4.1.min.js '%}"></script>   
    <script src="{% static 'js/components/slick.js '%}"></script>
    <script src="{% static 'js/components/syotimer.js '%}"></script>
    <script src="{% static 'js/main.js '%}"></script>  

{% endblock content %}

</body>
</html>